.animate{
    animation: aparecer .5s ease-in-out;
}
@keyframes aparecer {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}