.footer {
    background-color: #181a1c;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
/* footer left*/
  
.footer .footer-left {
    padding-right: 15px;
}
  
.footer .about { 
    line-height: 20px;
    color: var(--darkreader-text-gray);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
  
.footer h3 {
    color: var(--darkreader-text-gray);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
  
.footer .icons {
    margin-top: 25px;
}
  
.footer .icons a {
    margin-top: -15px;
    display: inline-block;
    width: 30px;
    height: 27px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    margin-bottom: 10px;
} 

/* footer center*/

.footer .footer-center {
    text-align: center;
}

.footer .footer-center p {
    color: var(--darkreader-text-gray);
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.footer .footer-center p a {
    color: #C5E6A6;
    text-decoration: none;
}
  
  
/* footer right*/
  
.footer h2 {
    color: var(--darkreader-text-gray);
    font-weight: normal;
    margin: 0;
}
  
.footer-right h2, .footer-right h2 span{
    color: var(--orange);
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bold;
}
.footer-right h2 span{
    color: #fff;
}
  
.footer .menu {
    color: var(--darkreader-text-gray);
    margin: 20px 0 12px;
    padding: 0;
}
  
.footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
  
.footer .menu a:hover {
    color: #C732FA;
}
  
.footer .name {
    color: #DE2C31;
    font-size: 14px;
    font-weight: normal;
    margin: 20px;
}

@media (max-width: 1190px) {
    .footer {
        padding: 15px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        row-gap: 40px;
    }
    .footer-right{
        grid-column: span 2;
    }
}

@media (max-width: 720px) {
    .footer {
        padding: 5px;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        max-width: 600px;
        text-align: center;
        grid-column: span 1;
    }
}