.nivel_seleccion{
    background-color: #181818;
    padding: 20px 0;
}
.nivel_seleccion h2{
    font-size: 2.85rem;
    color: rgb(10, 200, 238);
    text-align: center;
    font-variant: small-caps;
}
.button_seleccion{
    min-height: 400px;
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.b_seleccion{
    padding: 0;
    font-variant: small-caps;
    line-height: 60px;
}
@media screen and (max-width: 450px) {
    .button_seleccion{
        grid-template-columns: 1fr;
    }
}