.icons{
    font-size: 2rem;
    color: var(--darkreader-text-gray);
    rotate: -40deg;
    margin: 0 10px;
}
.icons:nth-child(2){
    rotate: 40deg;
}
.nivel_principal{
    background-color: #101010;
    padding: 15px 0;
    text-align: center;
}
.nivel_principal > h2, .nivel_principal > h3{
    font-size: 3.5rem;
    color: rgb(10, 200, 238);
    text-align: center;
    width: max-content;
    margin: 20px auto;
}
.nivel_principal > h3{
    color: var(--darkreader-text-gray);
    font-size: 2.5rem;
    font-variant: small-caps;
}
.nivelContainer{
    background-color: #1f1f1f;
    width: 97%;
    margin: 10px auto;
    border: solid 3px black;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    color: var(--darkreader-text-gray);
}
.nivelContainer .datos{
    width: 95%;
    max-width: 1400px;
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
}
.imagen{
    display: block;
    width: 30%;
    max-width: 400px;
    max-height: 300px;
    margin: auto;
}
.imagen > img{
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border: solid 1px black;
    border-radius: 20px;
}
.nivelSlider .containerSliderPrincipal .sliderPrincipal .sliderSection img{
    height: auto;
    max-height: 300px;
    object-fit: contain;
    border: solid 1px black;
    border-radius: 20px;
    background-color: rgb(24, 24, 26);
    pointer-events: all;
}
.nivelSlider .containerSliderPrincipal .sliderPrincipal{
    background-color: transparent;
    height: 300px;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nivelSlider .containerSliderPrincipal{
    height: 300px;
}
.sliderNotFound > h5{
    font-size: 1.5rem;
    width: 90%;
    margin: auto;
}
.info{
    padding: 15px 0;
    margin: auto;
    margin-right: 0;
    width: 70%;
}
.info > p, .info > h4{
    width: 90%;
    max-width: 840px;
    margin: 0 auto;
}
.info > p{
    text-align: left;
    font-size: 1.5rem;
}
.info > h5{
    font-size: 2rem;
}
.info > a{
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #ff7844;
    background: linear-gradient(45deg, #d93f87, #ff7844, #ffdd55, #ff7844, #d93f87, #ff7844, #ffdd55, #ff7844);
    background-size: 800%;
    color: transparent;
    background-clip: text;
    transition: all 0.3s ease;
}
.info >a:hover{
    animation: magicBtn 15s linear infinite;
}
@keyframes magicBtn{
    0%{
        background-position: 0% 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0% 0;
    }
}
.b_niveles{
    padding: 10px 20px;
    font-variant: small-caps;
    line-height: 100px;
}
@media screen and (max-width: 950px) {
    .nivelContainer .datos{
        display: block;
    }
    .imagen{
        width: 100%;
    }
    .info{
        width: 100%;
    }
}