@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
:root{
    --darkreader-text-gray: #dad7d2
}
*{
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: clamp(12px,.8rem + .25vw,16px);
}
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button_nivel{
    text-decoration: none;
    color: #000;
    text-align: center;
    line-height: 60px;
    margin: auto;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 1.88rem;
}
.button_nivel{
    border: none;
    background-color: #19c3c9;
    background-image: linear-gradient(to right, #19c3c9 0%, #6cfbf1  50%, #1d9797  100%);
    background-size: 200% auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button_nivel:hover{
    background-position: right center;
    transform: scaleX(1.03);
}
@media screen and (max-width: 450px) {
    .button_nivel{
        height: 60px;
        max-width: 200px;
        width: 100%;
    }
}